@import './mixins.scss';

$widthSmall: 87px;
$colorSmall: #8ba4f9;
$borderSmall: 2px solid #8ba4f9;
$backSmall: #fff;

$widthLarge: 196px;
$colorLarge: #fff;
$borderLarge: none;
$backLarge: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);

@mixin visual($width, $color, $border, $back) {
    width: $width;
    color: $color;
    border: $border;
    background: $back;
}

/*Обертки для каскада кнопок*/
.cascade {
    @include flexible(); 
}

.cascade__inner {
    padding-left: 20px;
    @include flexible();
}

.cascade__btnbox {
    padding-right: 20px;
}

/*Компонент Кнопка*/
.button {
    height: 34px;
    border-radius: 22px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    &-small {
        @include visual($widthSmall, $colorSmall, $borderSmall, $backSmall);
    }
    &-large {
        @include visual($widthLarge, $colorLarge, $borderLarge, $backLarge);
    }
}