@import './mixins.scss';

$widthSmall: 87px;
$colorSmall: #8ba4f9;
$borderSmall: 2px solid #8ba4f9;
$backSmall: #fff;

$widthLarge: 194px;
$colorLarge: #fff;
$borderLarge: none;
$backLarge: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);

@mixin button($width, $color, $border, $back) {
    width: $width;
    color: $color;
    border: $border;
    background: $back;
}

.cascade {
    @include flexible();
    &__inner {
        padding-left: 20px;
        @include flexible();
    }
    &__btnbox {
        padding-right: 20px;
    }
    &__button {
        height: 34px;
        border-radius: 22px;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
    }
    &__button_small {
        @include button($widthSmall, $colorSmall, $borderSmall, $backSmall);
    }
    &__button_large {
        @include button($widthLarge, $colorLarge, $borderLarge, $backLarge);
    }
}