@import './mixins.scss';

$widthHat: 100%;
$heightHat: 70px;
$backHat: #fff;
$shadowHat: 0 10px 20px rgba(31, 32, 65, 0.05);

@mixin container($width, $height, $back, $shadow) {
    width: $width;
    height: $height;
    background: $back;
    box-shadow: $shadow;
}

/*Компонент контейнер*/
.case {
    @include container($widthHat, $heightHat, $backHat, $shadowHat);
    @include flexible();
    &-vertical {
        flex-direction: column;
    }
    &-little {
        width: 768px;
        height: 367px;
    }  
}