@import './mixins.scss';

$widthHat: 100%;
$heightHat: 70px;
$backHat: #fff;
$shadowHat: 0 10px 20px rgba(31, 32, 65, 0.05);

@mixin container($width, $height, $back, $shadow) {
    width: $width;
    height: $height;
    background: $back;
    box-shadow: $shadow;
}

.hat {
    &__case {
        @include container($widthHat, $heightHat, $backHat, $shadowHat);
        @include flexible();
    }
}