/*Подключение шрифта Montserrat с настройками по умолчанию*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$radius: 0 100px 500px 100px;
$line: 2px solid #8ba4f9;
$turn: rotate(-70deg);

$radiusLogo: 0 100px 100px 0;
$lineLogo: 2px solid #66d2ea;
$rotation: rotate(240deg);

$loginColor: #8ba4f9;
$loginLine:2px solid #8ba4f9;
$loginBack: #fff;

$accountColor: #fff;
$accountLine: none;
$accountBack: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);

@mixin logotype {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #8ba4f9;
    position: relative;
}

@mixin space($top, $left, $bottom) {
    margin-top: $top;
    margin-left: $left;
    margin-bottom: $bottom;
}

@mixin logo($width, $height, $fullRadius, $borderRight, $rotate, $leftSpace) {
    width: $width;
    height: $height;
    border-radius: $fullRadius;
    border-right: $borderRight;
    transform: $rotate;
    margin-left: $leftSpace;
}

@mixin long {
    @include logo(11.76px, 11.76px, $radius, $line, $turn, 7.4px);
    margin-top: 15.29px;
}

@mixin short {
    @include logo(9.12px, 9.12px, $radiusLogo, $lineLogo, $rotation, 20px);
    position: absolute;
    top: 14px;
}

@mixin flexible {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin stylus {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.5);
}

@mixin button($width, $height, $color, $line, $back) {
    width: $width;
    height: $height;
    color: $color;
    border: $line;
    background: $back;
    border-radius: 22px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
}

@mixin catch {
    position: absolute;
    top: 0;
    right: 0;
}

/*1) Проверить работоспособность всех тегов без html*/
/*2) Проверить все поля на переполнение*/
/*3) Дописать семантическую разметку*/
/*4) Взять данные у менеджера для SEO: метатег с атрибутами: keywords, description*/

body {
    background: #E5E5E5;
    border: 1px solid transparent;
}

.has-dist {
    margin-right: 20px;
}

.limit {
    line-height: 15px;
}

/*Стили Хедера*/
.hat {
    width: 1440px;
    background: #E5E5E5;
    &__block {
        width: 1440px;
        height: 70px;
        background: #fff;
        box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
        display: flex;
        &_has-move {
            @include space(140px, 50px, 15px);
        }
        &_change-top {
            margin-top: 40px;
        }
    }
    &__logo {
        @include logotype();
        &_has-around {
            @include space(15px, 140px, 15px);  
        }
    }
    &__first {
        @include long();
    }
    &__last {
        @include short();
    }
    &__logotext {
        width: 53.19px;
        height: 12.95px;
        @include flexible();
        color: #1f2041;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        overflow: hidden;
        &_has-action {
            @include space(28.33px, 12.5px, 28.33px);
        }
    }
    &__cascade {
        @include flexible();
        &_has-move {
            margin-left: 20px;
        }
    }
    &__login {
        @include button(87px, 34px, $loginColor, $loginLine, $loginBack);
        &_has-dist {
            margin-right: 20px;
        }
    }
    &__account {
        @include button(194px, 34px, $accountColor, $accountLine, $accountBack);
    }
}

/*Стили меню*/
.menu {
    @include flexible();
    &_has-move {
        margin-left: 284.31px;
    }
    &_has-moved {
        margin-left: 466.31px;
    }
    &__link {
        display: block;
        height: 18px;
        @include stylus();
        &_is-active {
            font-weight: bold;
            color: rgba(31, 32, 65, 0.75);
        }
        &_has-dist {
            @extend .has-dist;
        }  
    }
    &__dropdown {
        display: block;
        height: 20px;
        &_has-dist {
            @extend .has-dist;
        }
    }
    &__button {
        height: 18px;
        border: none;
        padding: 0;
    }
    &__text {
        @include stylus();
    }
    &__dropdown-content {
        display: none;
    }
    &__dropdown-item {
        @include stylus();
    }
    &__line {
        width: 1px;
        height: 30px;
        background: rgba(31, 32, 65, 0.1);
        &_has-dist {
            margin: 20px;
        } 
    }
    &__name {
        width: 100px;
        height: 18px;
        @include stylus();
        &_has-align {
            margin-top: 26px;
            margin-bottom: 26px;
        }
    }
    &__icon {
        &::after {
            content: "\f107";
            font-family: "Font Awesome 5 Pro";
            width: 24px;
            height: 21px;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 20px;
            @include flexible();
        }
    }
}

/*Стили центральной конентной части*/

.general {
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 1px 0 rgba(31, 32, 65, 0.1);
    width: 1440px;
    height: 372px;
    &_has-around {
        margin-top: 40px;
        margin-left: 50px;
    }
    &__logobox {
        display: flex;
    }
    &__logo {
        @include logotype();
    }
    &__first {
        @include long();
    }
    &__last {
        @include short();
    }
    &__logotext {
        width: 53.19px;
        @include flexible();
        color: #1f2041;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        overflow: hidden;
        &_has-dist {
            margin-left: 12.5px;
        }
    }
    &__item {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: rgba(31, 32, 65, 0.5);
        &_has-active {
            font-weight: bold;
            color: #1f2041;
            text-transform: uppercase;
        }
        &_has-main {
            margin-bottom: 21px;
        }
        &_has-indent {
            margin-bottom: 20px;
        }
        &_has-empty {
            color: transparent;
        }
    }
    &__description {
        width: 260px;
        height: 72px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
    }
    &__col-11 {
        margin-left: 140px;
        margin-right: 40px;
    }
    &__col-12 {
        margin-right: 67px;
        .general__menu-list {
            width: 130px;
            @extend .limit;
        }
    }
    &__col-13 {
        margin-right: 100px;
        .general__menu-list {
            width: 100px;
            @extend .limit;
        }
    }
    &__col-14 {
        margin-right: 51px;
        .general__menu-list {
            width: 150px;
            @extend .limit;
        }
    }
    &__col-15 {
        .general__menu-list {
            @extend .limit;
            &_bottom {
                margin-top: -20px;
                margin-bottom: 20px;
            }
        }
        .general__menu-list > .general__item {
            &:nth-child(2) {
                width: 245px;
                height: 35px;
            }
        }
    }
    &__email {
        background: #fff;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 4px;
        width: 260px;
        height: 44px;
        padding-top: 10px;
        padding-left: 15px;
        position: relative;
        &_has-reset {
            margin-bottom: 0;
        }
    }
    &__placeholder {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.25);
        width: 40px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    &__icon::after {
        content: "\f061";
        font-family: "Font Awesome 5 Pro";
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
        color: #8ba4f9;
        @include catch();
        width: 44px;
        height: 44px;
        @include flexible();
    }
}

/*Стили футера*/



.common__content-btm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    width: 1300px;
    height: 70px;
}

.common__content-btm_offset {
    padding-left: 140px;
    margin-left: 50px;
    padding-top: 26px;
    padding-bottom: 26px;
}

.common__content-btm_action {
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
}

.common__copyright {
    width: 370px;
    height: 18px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.75);
}

.common__socials {
    display: flex;
    width: 100px;
    justify-content: space-between;
    align-items: center;
    margin-right: 140px;
}

.common__tw::after {
    content: "\f099";
    font-family: "Font Awesome 5 Brands";
    width: 24px;
    height: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:  #8ba4f9;
}

.common__fb::after {
    content: "\f082";
    font-family: "Font Awesome 5 Brands";
    width: 24px;
    height: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #8ba4f9;
}

.common__ins::after {
    content: "\f16d";
    font-family: "Font Awesome 5 Brands";
    width: 24px;
    height: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8ba4f9;
}

.common__central {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 768px;
    height: 367px;
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
}

.common__logo_reset {
    margin: 0;
}

.common__socials_reset {
    margin-right: 0;
}

.common__central_place {
    margin: 40px 336px 140px 336px;
}

.common__logotext_normalize {
    margin: 0;
    width: 53.19px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.common__wrap-logo_btm {
    margin-bottom: 20px;
}

.common__copyright_down {
    margin-bottom: 25px;
}