@charset "UTF-8";
/*Подключение шрифта Montserrat с настройками по умолчанию*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/*Используемый в работе миксин*/
/*1) Проверить работоспособность всех тегов без html*/
/*2) Проверить все поля на переполнение*/
/*3) Дописать семантическую разметку*/
/*4) Взять данные у менеджера для SEO: метатег с атрибутами: keywords, description*/
body {
  background: #E5E5E5;
  border: 1px solid transparent;
}

/*Стили, после рефакторинга, относятся ко всей странице*/
.page__content {
  padding-left: 50px;
}

.page__content-top--edge {
  padding-top: 40px;
}

.hat__section {
  padding-top: 140px;
}

.hat__clone {
  padding-top: 40px;
}

.menu__opened {
  padding-right: 20px;
}

.case__line {
  padding: 20px;
}

.case__yourself {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown-trigger__dropdownbtn {
  padding: 0;
  border: none;
}

/*Пункт-заглушка для последнего списка*/
.clmn__item.clmn__item-reserve {
  color: transparent;
}

.main__content {
  height: 372px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
          box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 372px;
}

.main__col-11 {
  margin-left: auto;
  margin-right: 40px;
}

.main__col-12 {
  margin-right: 57px;
}

.main__col-13 {
  margin-right: 92px;
}

.main__col-14 {
  margin-right: 51px;
}

.main__col-15 {
  margin-right: auto;
}

/*Стили футера*/
.social__box, .basement__socialbox, .basement__social--icons {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basement__row {
  width: calc(70% + 35px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basement__social--icons-edge {
  margin-right: 140px;
}

/*Стили, после рефакторинга, относящиеся ко всей странице*/
/*Стили логотипа, нуждающиеся в исправлении, начало блока*/
.hat__logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #8ba4f9;
  position: relative;
}

.hat__logo_has-around {
  margin-top: 15px;
  margin-left: 140px;
  margin-bottom: 15px;
}

.hat__first {
  width: 11.76px;
  height: 11.76px;
  border-radius: 0 100px 500px 100px;
  border-right: 2px solid #8ba4f9;
  -webkit-transform: rotate(-70deg);
          transform: rotate(-70deg);
  margin-left: 7.4px;
  margin-top: 15.29px;
}

.hat__last {
  width: 9.12px;
  height: 9.12px;
  border-radius: 0 100px 100px 0;
  border-right: 2px solid #66d2ea;
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
  margin-left: 20px;
  position: absolute;
  top: 14px;
}

.general__logobox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.general__logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #8ba4f9;
  position: relative;
}

.general__first {
  width: 11.76px;
  height: 11.76px;
  border-radius: 0 100px 500px 100px;
  border-right: 2px solid #8ba4f9;
  -webkit-transform: rotate(-70deg);
          transform: rotate(-70deg);
  margin-left: 7.4px;
  margin-top: 15.29px;
}

.general__last {
  width: 9.12px;
  height: 9.12px;
  border-radius: 0 100px 100px 0;
  border-right: 2px solid #66d2ea;
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
  margin-left: 20px;
  position: absolute;
  top: 14px;
}

/*Стили логотипа, нуждающиеся в исправлении, конец блока*/
/*Стили самой нижней области в футере и Нуждаются в рефакторинге!*/
.common__central {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 768px;
  height: 367px;
  -webkit-box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
}

.common__logo_reset {
  margin: 0;
}

.common__socials_reset {
  margin-right: 0;
}

.common__central_place {
  margin: 40px 336px 140px 336px;
}

.common__logotext_normalize {
  margin: 0;
  width: 53.19px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.common__wrap-logo_btm {
  margin-bottom: 20px;
}

.common__copyright_down {
  margin-bottom: 25px;
}
/*# sourceMappingURL=general.css.map */