/*Подключение шрифта Montserrat с настройками по умолчанию*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import './mixins.scss';

/*Используемый в работе миксин*/
@mixin between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Для html*/

/*1) Проверить работоспособность всех тегов без html*/
/*2) Проверить все поля на переполнение*/
/*3) Дописать семантическую разметку*/
/*4) Взять данные у менеджера для SEO: метатег с атрибутами: keywords, description*/

/*Для css*/
/*1) Заменить подключение шрифта вверху на подключение в линк*/
/*2) Прижать футер к низу*/
/*3) Переменные со сложными имена разделять одним нижним подчеркиванием*/
/*4) Приписать заданный цвет фона, цвет шрифта, семейство шрифта у html*/
/*5) Посещенные ссылки :visited, убрать цвет по умолчанию*/
/*6) Добавить элементу cursor: pointer, который по логике должен быть кликабелен, но у него этого нет*/
/*7) Для полей ввода для события :focus выставить outline: none, поля ввода располагаются в форме*/

/*Разложить файлы*/
/*8) Создать папку компоненты scss*/
/*9) Для каждого блока создать свою папку*/
/*10) Положить блок scss в соотвествующую папку*/
/*11) Проверить все css файлы с кодом на наличия горизонтальной прокрутки, ее быть не должно*/
/*12) Для всех элементов, у которых выставлена ширина в процентах, задать min-width, max-width*/

body {
    background: #E5E5E5;
    border: 1px solid transparent;
}



.hat {
    &__section {
        &-top--point {
            padding-top: 140px;
        }
    }
    &__clone {
        &-top--point {
            padding-top: 40px;
        }
    }
}

.menu {
    &__opened {
        padding-right: 20px; 
    }
}

.case {
    &__inrapper {
        width: 40px;
        height: 70px;
        @include flexible();
    }
    &__col-13 {
        padding-left: 284.31px;
    }
    &__col-32 {
        padding-left: 466.31px;
    }
    &__line {
        padding: 20px; 
    }
    &__yourself {
        @include flexible();
    }
}

.dropdown-trigger__dropdownbtn {
    padding: 0;
    border: none;
}

 /*Пункт-заглушка для последнего списка*/
.clmn {
    &__item.clmn__item-reserve {
        color: transparent;
    }
}

.main {
    &__content {
        height: 372px;
        background: #fff;
        box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-top--edge {
            padding-top: 40px;
        }
    }
    &__col-11 {
        padding-left: 14rem;
        margin-right: 40px;
    }
    &__col-12 {
        margin-right: 57px;
    }
    &__col-13 {
        margin-right: 92px;
    }
    &__col-14 {
        margin-right: 51px;
    }
    &__col-15 {
        padding-right: 14rem;
    }
    &__attribs {
        display: flex;
        margin-bottom: 20px;
    }
}

/*Стили футера*/
.social__box {
    width: 100px;
    @include between();
}

.flexes {
    @include flexible();
}

.basement {
    &__row {
        width: 71.86%;
        max-width: 1440px;
        @include between();
    }
    &__socialbox {
        @extend .social__box;
    }
    &__social--icons {
        @extend .social__box;
        &-edge {
            margin-right: 140px;
        }
    }
    &__col-11 {
        display: flex;
        &--btm {
            margin-bottom: 20px;
        }
    }

    &__col-12 {
        @extend .flexes;
        &--btm {
            margin-bottom: 25px;
        }
    }
    &__col-13 {
        @extend .flexes;
    }
    &__square {
        &-centered {
            @extend .flexes;
        }
        &-straight--sides {
            padding-top: 40px;
            padding-bottom: 140px;
        }
    }
}

@media screen and (min-width: 1904px) {
    .main {
        &__col-11 {
            padding-left: 23.86rem;
        }
        &__col-15 {
            padding-right: 23.86rem;
        }
    }
    .basement {
        &__row {
            width: 60.36%;
        }
    }
}