@charset "UTF-8";
/*Подключение шрифта Montserrat с настройками по умолчанию*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/*1) Проверить работоспособность всех тегов без html*/
/*2) Проверить все поля на переполнение*/
/*3) Дописать семантическую разметку*/
/*4) Взять данные у менеджера для SEO: метатег с атрибутами: keywords, description*/
body {
  background: #E5E5E5;
  border: 1px solid transparent;
}

.has-dist {
  margin-right: 20px;
}

.limit, .general__col-12 .general__menu-list, .general__col-13 .general__menu-list, .general__col-14 .general__menu-list, .general__col-15 .general__menu-list {
  line-height: 15px;
}

/*Стили Хедера*/
.hat {
  width: 1440px;
  background: #E5E5E5;
}

.hat__block {
  width: 1440px;
  height: 70px;
  background: #fff;
  -webkit-box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hat__block_has-move {
  margin-top: 140px;
  margin-left: 50px;
  margin-bottom: 15px;
}

.hat__block_change-top {
  margin-top: 40px;
}

.hat__logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #8ba4f9;
  position: relative;
}

.hat__logo_has-around {
  margin-top: 15px;
  margin-left: 140px;
  margin-bottom: 15px;
}

.hat__first {
  width: 11.76px;
  height: 11.76px;
  border-radius: 0 100px 500px 100px;
  border-right: 2px solid #8ba4f9;
  -webkit-transform: rotate(-70deg);
          transform: rotate(-70deg);
  margin-left: 7.4px;
  margin-top: 15.29px;
}

.hat__last {
  width: 9.12px;
  height: 9.12px;
  border-radius: 0 100px 100px 0;
  border-right: 2px solid #66d2ea;
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
  margin-left: 20px;
  position: absolute;
  top: 14px;
}

.hat__logotext {
  width: 53.19px;
  height: 12.95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1f2041;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

.hat__logotext_has-action {
  margin-top: 28.33px;
  margin-left: 12.5px;
  margin-bottom: 28.33px;
}

/*Стили меню*/
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_has-move {
  margin-left: 284.31px;
}

.menu_has-moved {
  margin-left: 466.31px;
}

/*Стили центральной конентной части*/
.general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  -webkit-box-shadow: 0 1px 0 rgba(31, 32, 65, 0.1);
          box-shadow: 0 1px 0 rgba(31, 32, 65, 0.1);
  width: 1440px;
  height: 372px;
}

.general_has-around {
  margin-top: 40px;
  margin-left: 50px;
}

.general__logobox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.general__logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #8ba4f9;
  position: relative;
}

.general__first {
  width: 11.76px;
  height: 11.76px;
  border-radius: 0 100px 500px 100px;
  border-right: 2px solid #8ba4f9;
  -webkit-transform: rotate(-70deg);
          transform: rotate(-70deg);
  margin-left: 7.4px;
  margin-top: 15.29px;
}

.general__last {
  width: 9.12px;
  height: 9.12px;
  border-radius: 0 100px 100px 0;
  border-right: 2px solid #66d2ea;
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
  margin-left: 20px;
  position: absolute;
  top: 14px;
}

.general__logotext {
  width: 53.19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1f2041;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

.general__logotext_has-dist {
  margin-left: 12.5px;
}

.general__item {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: rgba(31, 32, 65, 0.5);
}

.general__item_has-active {
  font-weight: bold;
  color: #1f2041;
  text-transform: uppercase;
}

.general__item_has-main {
  margin-bottom: 21px;
}

.general__item_has-indent {
  margin-bottom: 20px;
}

.general__item_has-empty {
  color: transparent;
}

.general__description {
  width: 260px;
  height: 72px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.general__col-11 {
  margin-left: 140px;
  margin-right: 40px;
}

.general__col-12 {
  margin-right: 67px;
}

.general__col-12 .general__menu-list {
  width: 130px;
}

.general__col-13 {
  margin-right: 100px;
}

.general__col-13 .general__menu-list {
  width: 100px;
}

.general__col-14 {
  margin-right: 51px;
}

.general__col-14 .general__menu-list {
  width: 150px;
}

.general__col-15 .general__menu-list_bottom {
  margin-top: -20px;
  margin-bottom: 20px;
}

.general__col-15 .general__menu-list > .general__item:nth-child(2) {
  width: 245px;
  height: 35px;
}

.general__email {
  background: #fff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  width: 260px;
  height: 44px;
  padding-top: 10px;
  padding-left: 15px;
  position: relative;
}

.general__email_has-reset {
  margin-bottom: 0;
}

.general__placeholder {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.25);
  width: 40px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.general__icon::after {
  content: "\f061";
  font-family: "Font Awesome 5 Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #8ba4f9;
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Стили футера*/
.common__content-btm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  width: 1300px;
  height: 70px;
}

.common__content-btm_offset {
  padding-left: 140px;
  margin-left: 50px;
  padding-top: 26px;
  padding-bottom: 26px;
}

.common__content-btm_action {
  -webkit-box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
}

.common__copyright {
  width: 370px;
  height: 18px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.75);
}

.common__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 140px;
}

.common__tw::after {
  content: "\f099";
  font-family: "Font Awesome 5 Brands";
  width: 24px;
  height: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #8ba4f9;
}

.common__fb::after {
  content: "\f082";
  font-family: "Font Awesome 5 Brands";
  width: 24px;
  height: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  color: #8ba4f9;
}

.common__ins::after {
  content: "\f16d";
  font-family: "Font Awesome 5 Brands";
  width: 24px;
  height: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8ba4f9;
}

.common__central {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 768px;
  height: 367px;
  -webkit-box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
}

.common__logo_reset {
  margin: 0;
}

.common__socials_reset {
  margin-right: 0;
}

.common__central_place {
  margin: 40px 336px 140px 336px;
}

.common__logotext_normalize {
  margin: 0;
  width: 53.19px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.common__wrap-logo_btm {
  margin-bottom: 20px;
}

.common__copyright_down {
  margin-bottom: 25px;
}
/*# sourceMappingURL=general.css.map */