/*Параметры базового состояния компонента логотип*/
$widthLess: 40px;
$heightLess: 40px;
$colorLess: #8ba4f9;
$radiusLess: 50%;

@mixin state($width, $height, $color, $radiusLess) {
    width: $width;
    height: $height;
    border: 2px solid $color;
    border-radius: 50%;
}

.logo {
    &__base {
        position: relative;
        @include state($widthLess, $heightLess, $colorLess, $radiusLess);
    }
}