@import './mixins.scss';

$short: 284.31px;
$long: 466.31px;

@mixin dist($dist) {
    padding-left: $dist;
}

.menu {
    @include flexible();
    &_short-dist {
        @include dist($short);
    }
    &_long-dist {
        @include dist($long);
    }
}