@import './mixins.scss';

$colorTitle: #1f2041;
$colorUpper: uppercase;

.logotext {
    @include flexible();
    color: $colorTitle;
    text-transform: $colorUpper;
    font-family: "Montserrat", sans-serif;
    padding-top: 1px;
    overflow: hidden; 
}