@import '../../mixins/mixins.scss';

$width_small: 87px;
$color_small: #8ba4f9;
$border_small: 2px solid #8ba4f9;
$back_small: #fff;

$width_large: 196px;
$color_large: #fff;
$border_large: none;
$back_large: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);

.has__no-shadow {
    box-shadow: none;
}

$small_border_focus: 2px solid #8ba4f9;
$small_color_focus: #8ba4f9;

$large_border_focus: none;
$large_color_focus: #fff;

@mixin btn-action($border_focus, $color_focus) {
    border: $border_focus;
    color: $color_focus;
}

/*Компонент Кнопка*/
.button {
    height: 34px;
    font-family: "Montserrat", sans-serif;
    border-radius: 22px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    &-small {
        @include visual($width_small, $color_small, $border_small, $back_small);
        &.is-hovered,
        &:hover {
            @include btn-action($small_border_focus, $small_color_focus);
        }
        &.is-focused:not(:active),
        &:focus:not(:active) {
            @extend .has__no-shadow;
        }
        &.is-focused,
        &:focus {
            @include btn-action($small_border_focus, $small_color_focus);
        }
    }
    &-large {
        @include visual($width_large, $color_large, $border_large, $back_large);
        &.is-hovered,
        &:hover {
            @include btn-action($large_border_focus, $large_color_focus);
        }
        &.is-focused:not(:active),
        &:focus:not(:active) {
            @extend .has__no-shadow;
        }
        &.is-focused,
        &:focus {
            @include btn-action($large_border_focus, $large_color_focus);
        }
    }
}