@import '../../mixins/mixins.scss';

$min_width: 1440px;
$max_width: 100%;

/*Компонент главная область*/
.main {
    @include gum($min_width, $max_width);
    @include flexible();
    background: #fff;
    box-shadow: 0 1px 0 rgba(31, 32, 65, 0.1);
}