@import '../../mixins/mixins.scss';

$color_title: #1f2041;
$color_upper: uppercase;

.logotext {
    color: $color_title;
    text-transform: $color_upper;
    @include flexible();
    padding-top: 1px;
}