@import '../../mixins/mixins.scss';

/*Компонент список*/
.list {
    &__item {
        font-style: normal;
        font-size: 12px;
        line-height: 15px;
        &-no--active {
            font-weight: normal;
            color: rgba(31, 32, 65, 0.5);
        }
        &-active {
            font-weight: bold;
            color: #1f2041;
            text-transform: uppercase;
        }
        &-free {
            margin-bottom: 20px;
        }
        &-specific {
            width: 245px;
            height: 48px;
            line-height: 22px;
        }
    }
}

