@import '../../mixins/mixins.scss';

$width_hat: 100%;
$height_hat: 70px;
$back_hat: #fff;
$shadow_hat: 0 10px 20px rgba(31, 32, 65, 0.05);

/*Компонент контейнер*/
.case {
    @include container($width_hat, $height_hat, $back_hat, $shadow_hat);
    @include flexible();
    &-vertical {
        flex-direction: column;
    }
    &-little {
        width: 768px;
        height: 367px;
    }  
}