/*Параметры базового состояния компонента логотип*/
$width_less: 40px;
$height_less: 40px;
$color_less: #8ba4f9;
$radius_less: 50%;

@mixin state($width, $height, $color, $radiusLess) {
    width: $width;
    height: $height;
    border: 2px solid $color;
    border-radius: 50%;
}

.logo {
    &__base {
        position: relative;
        @include state($width_less, $height_less, $color_less, $radius_less);
    }
}