/*Параметры большего внутреннего элемента логотипа*/
$width_strong: 11.76px;
$height_strong: 11.76px;
$half_radius_strong: 0 100px 500px 100px;
$color_strong: #8ba4f9;
$rotate_strong: rotate(-70deg);
$to_top_strong: 15.29px;
$to_left_strong: 7.4px;

/*Параметры меньшего внутреннего элемента логотипа*/
$width_weak: 9.12px;
$height_weak: 9.12px;
$half_radius_weak: 0 100px 100px 0;
$color_weak: #66d2ea;
$rotate_weak: rotate(240deg);
$to_top_weak: 14px;
$to_left_weak: 20px;

@mixin innerlog($width, $height, $radius, $color, $rotate, $from_top, $from_left) {
    width: $width;
    height: $height;
    border-radius: $radius;
    border-right: 2px solid $color;
    transform: $rotate;
    margin-top: $from_top;
    margin-left: $from_left;
}

.wing {
    &-large {
        @include innerlog(
            $width_strong,
            $height_strong,
            $half_radius_strong,
            $color_strong,
            $rotate_strong,
            $to_top_strong,
            $to_left_strong
        );
    }
    &-small {
        @include innerlog(
            $width_weak,
            $height_weak,
            $half_radius_weak,
            $color_weak,
            $rotate_weak,
            $to_top_weak,
            $to_left_weak 
        );
        position: absolute;
        top: 0;
    }
}